<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configuracion</title>
    <!-- <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"> -->
</head>
<body>
    <%include header%>


    <div class="view_edit_profile">
        <div class="view_edit">
            <div class="close">
                <p>Cargar imagen</p>
                <a href="" class="close_btn">
                    <span class="material-icons-outlined">close</span>
                </a>
            </div>
            <div class="card_img">
                <!-- <div class="current_profile_img"></div> -->
                <div class="preView-img" id="preView-img"></div>
            </div>
            <form id="form" class="upload_img" action="/cambiar_foto_perfil" method="post" enctype="multipart/form-data">
                <div class="upload_file">
                    <label for="image">Upload</label>
                    <input type="file" name="image" id="image" class="file_img" required>
                </div>
                <button type="submit" id="btn_change_img">Cambiar</button>
            </form>
        </div>
    </div>
    

    <div class="container">
        <div class="form">
            <h3>Configuracion</h3>
            <form action="/config"  method="post">
                <div class="infog_text">
                    <h2>Informacion personal</h2>
                </div>
                <div class="profile_img">
                    <div class="img_config">
                        <%if(!user.userFoto){%>
                            <span class="material-icons-outlined">
                                person_outline
                            </span>
                        <%}else{%>
                            <img class="img_user" src="<%=user.userFoto%>" >
                        <%}%>
                        <!-- <img src="<%=user.userFoto%>" alt=""> -->
                    </div>
                    <div class="edite_img">
                        <a href="" class="open_profile_img">Editar</a>
                    </div>
                </div>
                <div class="fv">
                    <label for="c_nombre">Cambiar nombre</label>
                    <input type="text" name="c_nombre" id="c_nombre" value="<%=user.nombre%>">
                </div>
                <div class="fv">
                    <label for="bio">Biografia</label>
                    <textarea name="bio" id="bio" value="<%=user.bio%>"><%=user.bio%></textarea>
                </div>
                <div class="fv">
                    <label for="pais">Pais</label>
                    <input type="text" name="pais" id="pais" value="<%=user.pais%>">
                </div>
                <div class="fv">
                    <label for="cuidad">Cuidad</label>
                    <input type="text" name="cuidad" id="cuidad" value="<%=user.cuidad%>">
                </div>
                <div class="fv">
                    <p>Fecha de nacimiento</p>
                    <div class="div_fecha">
                        <input type="number" placeholder="Dia" name="dia" id="" value="<%=user.dia%>">
                        <select name="mes" id="" >
                            <%if(user.mes){%>
                                <option value="<%=user.mes%>"><%=user.mes%></option>
                            <%}else {%>
                                <option value="">Mes</option>
                            <%}%>
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Julio">Julio</option>
                            <option value="Agusto">Agusto</option>
                            <option value="Septiembre">Septiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Noviembre">Noviembre</option>
                            <option value="Diciembre">Diciembre</option>
                        </select>
                        <input type="number" name="ano" placeholder="Año" id="" value="<%=user.ano%>">
                    </div>
                </div>
                <div class="btn">
                    <!-- <input type="submit" class="btn_submit" value="Enviar"> -->
                    <button class="btn_submit" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <script src="../js/change_img_profile.js"></script>
    <!-- <script src="../js/showFiles.js"></script> -->
</body>
</html>