<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=user.nombre%></title>
    <link rel="stylesheet" href="../css/mi_perfil.css">
    <link rel="stylesheet" href="../css/view_img.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"> -->
    <link href="../lightbox2-master//dist/css/lightbox.min.css" rel="stylesheet" />
    
</head>
<body>
    <%-include('header')%>

    <div class="view_img" data-my_id="<%=user.id%>" id="view_img" style="display: none"></div>
    
    <div class="content">
        <div class="cabecera">
            <div class="card_profile_img">
                <div class="foto">
                    <%if(!user.userFoto){%>
                        <span class="material-icons-outlined icon_user">
                            person_outline
                        </span>
                        <!-- <img class="imgPerfil" src="../userIcon.jpg" > -->
                    <%}else{%>
                        <img class="imgPerfil" src="<%=user.userFoto%>" alt="">
                    <%}%>
                </div>
                <a  href="/config" a class="add_profile">
                    <span class="material-icons-outlined">add_a_photo</span>
                </a>
            </div>
            <div class="user_name">
                <div class="name_1">
                    <p class="name_user"><%=user.nombre%></p>
                    <span class="user_link"><%=user.email%></span>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="bio">
                <p><%=user.bio%></p>
            </div>
        </div>

        <div class="in">
            <div class="movil_follow">
                <p class="n_x623"><%=user.followers.length%></p>
                <p class="n_x542">seguidores</p>
            </div>
            <div class="movil_follow">
                <p class="n_x623" id="count-linked"><%=user.linked.length%></p>
                <p class="n_x542">siguiendo</p>
            </div>
            <div class="movil_follow">
                <p class="n_x623"><%=user.posts.length%></p>
                <p class="n_x542">posts</p>
            </div>
        </div>

        <!-- <div class="more">
            <div class="nav_p">
                <a class="a_cam" href="/cambiar_foto_perfil"><i class="material-icons">add_a_photo</i></a>
            </div>
            <div class="nav_p">
                <a href="/guardados"><i class="material-icons">bookmark</i></a>
            </div>
            <div class="nav_p">
                <a  href="/config"><i class="material-icons">brightness_high</i></a>
            </div>
        </div> -->
   
        <div class="publicaciones">
            <%if(user.posts.length == 0) {%>
                <%include no_photo%>
            <%}else {%>
                <div class="box postView12x"></div>
            <%}%>
        </div>
    </div>
    
    <script src="../js/moment-with-locales.js"></script>
    <script type="module" src="../js/my_profile.js"></script>
    <script type="module" src="../js/view_img.js"></script>
    <script type="module" src="../js/events.js"></script>
    <!-- <script src="../lightbox2-master/dist/js/lightbox-plus-jquery.min.js"></script> -->
</body>
</html>