<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=user.nombre%></title>
    <link rel="stylesheet" href="../css/mi_perfil.css">
    <link rel="stylesheet" href="../css/view_img.css">
</head>
<body>
    <%-include('header')%>

    <div class="view_img" id="view_img" style="display: none"></div>
    
    <div id="off" class="content">
        <div class="cabecera">
            <div class="portada"></div>
            <div class="foto">
                <%if(!user.userFoto){%>
                    <img class="imgPerfil" src="../userIcon.jpg" >
                <%}%>
                <img class="imgPerfil" src="<%=user.userFoto%>" alt="">
            </div>
            <div class="name">
                <h2 class="h2"><%=user.nombre%></h2>
            </div>
            <div class="more">
                <div class="nav_p">
                    <a href="/guardados">Guardados</a>
                </div>
                <div class="nav_p">
                    <a href="/message/<%=user.id%>">Mensajeria</a>
                </div>
                <div class="nav_p">
                    <a  href="/config">Configuraciones</a>
                </div>
                <div class="nav_p">
                    <a class="a_cam" href="cambiar_foto_perfil">Cambiar foto perfil</a>
                </div>
            </div>
        </div>
        
        <div class="info">
            <h3 class="">Informacion Personal</h3>
            <div class="datos">
                <%if(user.estudio){%>
                    <div class="gh">
                        <p><strong>Estudios o Carera:</strong> <%=user.estudio%></p>
                    </div>
                <%}%>
                <%if(user.pais){%>
                    <div class="gh">
                        <p><strong>Pais:</strong> <%=user.pais%></p>
                    </div>
                <%}%>
                <%if(user.cuidad){%>
                    <div class="gh">
                        <p><strong>Cuidad:</strong> <%=user.cuidad%></p>
                    </div>
                <%}%>
                <%if(user.dia && user.mes && user.ano){%>
                    <div class="gh">
                        <p><strong>Fecha de nacimiento:</strong> <%=user.dia%></p><p><%=user.mes%></p><p><%=user.ano%></p>
                    </div>
                <%}%>
            </div>
        </div>
   
        <div class="publicaciones">
            <div class="head_">
                <h3>Posts</h3>
                <a href="/guardados">Guardados</a>
            </div>
            <div class="box postSave"></div>
        </div>
    </div>

    <script src="../js/view_img.js"></script>
    <script src="../js/my_profile.js"></script>
</body>
</html>