<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>

    
    <header>
        <a href="/inicio" class="p">
            <div class="h1">
                <h1 class="h">PostGram</h1>
            </div>
        </a>
        <nav>
            <ul>
                <li class="li"> <a class="la" href="/inicio">Inicio</a></li>
                <li class="li"> <a class="la" href="/my_perfil">Perfil</a></li>
                <li lass="li"> <a class="la" href="/usuario">Usuarios</a> </li>
                <li lass="li"><a class="la" href="/logout">Salir</a></li>
            </ul>
    
        </nav>
    </header>
    
    <div class="content">

        <div class="cabecera">
            <div class="portada">

            </div>
            <div class="foto">
                <img class="imgPerfil" src="<%=user.userFoto%>" alt="">
            </div>
            <div class="name">
                <h2 class="h2"><%=user.nombre%></h2>
                <h3 class="h2"><%=user.email%></h3>
            </div>
        </div>

        <div class="ceparacion"></div>

        <div class="publicaciones">
            <div class="box">
                <%for(var c = user.posts.length-1; c >=0; c--){%>
                <div class="box_publicacion">
                    <div class="t_d">
                        <b><%=user.posts[c].titulo%></b>
                        <p><%=user.posts[c].descripcion%></p>
                    </div>
                    <div class="box_img">
                        <img class="imgPost" src="<%=user.posts[c].fotoPost%>" alt="">
                    </div>
                </div>
                <%}%>    
            </div>
        </div>
    </div>
    
</body>
</html>