<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=users.nombre%></title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/mi_perfil.css">
    <link rel="stylesheet" href="../css/view_img.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link href="../lightbox2-master//dist/css/lightbox.min.css" rel="stylesheet" />
</head>
<body>

    
    <header>
        <a href="/inicio" class="p">
            <div class="h1">
                <img src="../img/logop.png" alt="">
            </div>
        </a>
        <nav>
            <ul>
                <li class="li"> <a class="la" href="/inicio">Inicio</a></li>
                <li class="li"> <a class="la" href="/my_perfil">Perfil</a></li>
                <li lass="li"><a class="la" href="/message">Message</a></li>
                <li lass="li"><a class="la" href="/logout">Salir</a></li>
            </ul>
    
        </nav>
    </header>
    
    <div class="view_img" id="view_img" style="display: none"></div>

    <div id="off" class="content">
        <div class="cabecera">
            <div class="portada"></div>
            <div class="foto">
                <%if(!users.userFoto){%>
                    <img class="imgPerfil" src="../userIcon.jpg" >
                <%}%>
                <img class="imgPerfil" src="<%=users.userFoto%>" alt="">
            </div>
            <div class="name">
                <h1 class="h2"><%=users.nombre%></h1>
                <p class=""><%=users.email%></p>
            </div>
        </div>

        <div class="espace"></div>
        
        <div class="info">
            <div class="in">
                <h3 class="">Informacion Personal</h3>
            </div>
            <div class="datos">
                <%if(users.estudio){%>
                    <div class="gh">
                        <p><strong>Estudios o Carera:</strong> <%=users.estudio%></p>
                    </div>
                <%}%>
                <%if(users.pais){%>
                    <div class="gh">
                        <p><strong>Pais:</strong> <%=users.pais%></p>
                    </div>
                <%}%>
                <%if(users.cuidad){%>
                    <div class="gh">
                        <p><strong>Cuidad:</strong> <%=users.cuidad%></p>
                    </div>
                <%}%>
                <%if(users.dia && users.mes && users.ano){%>
                    <div class="gh">
                        <p><strong>Fecha de nacimiento:</strong> <%=users.dia%></p><p><%=users.mes%></p><p><%=users.ano%></p>
                    </div>
                <%}%>
            </div>
        </div>

        <div class="publicaciones">
            <div class="head_p">
                <p><i class="material-icons">collections</i> Posts</p>
            </div>
            <div class="box postSave">
                <%for(var c = users.posts.length-1; c >=0; c--){%>
                    <%if(users.posts[c].fotoPost) {%>
                        <div class="box_publicacion">
                            <div class="img_post">
                                <a class="box_img" href="<%=users.posts[c].fotoPost%>" data-lightbox="example-set" data-title="<%=users.posts[c].descripcion%>">
                                    <%if(users.posts[c].fotoPost.split('.',2)[1] === "mp4"){%>
                                        <video controls class="imgPost" src="<%=users.posts[c].fotoPost%>"</video>
                                    <%}%>
                                    <img class="imgPost" data-img_="<%=users.posts[c].fotoPost%>" src="<%=users.posts[c].fotoPost%>" alt="">
                                </a>
                            </div>
                        </div>
                    <%}%>
                <%}%>    
            </div>
        </div>
    </div>

    
    <script src="../lightbox2-master/dist/js/lightbox-plus-jquery.min.js"></script>

</body>
</html>